* {
	box-sizing: border;
}

body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
}

#content-container {
	text-align: center;
}

#controls-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 2px solid #ccc;
	margin-bottom: 10px;
}

select {
	height: 34px;
	outline: none;
}

#buttons-container button {
	padding: 10px 25px;
	border: 0;
	background-color: #add8e6;
	outline: none;
}

#buttons-container button:hover {
	background-color: #72bcd4
}

#buttons-container button.off {
	background-color: #f8ece8;
}

#buttons-container button.off:hover {
	background-color: #72bcd4;
}

#board-container {
	padding: 10px;
	border: 2px solid #ccc;
}

#board {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);
	grid-gap: 10px;
	background-color: white;
}

.square {
	font-size: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #add8e6;
	cursor: pointer;
}

.square:hover, #buttons-container button.win:hover, #buttons-container button.lose:hover {
	background-color: #72bcd4;
}

.nohover:hover {
	background-color: #add8e6;
}

.end, .end:hover {
	background-color: #f8ece8; /* #e6bbad; */
}

.win, .win:hover, #buttons-container button.win {
	background-color: #ade6bb;
}

.lose, .lose:hover, #buttons-container button.lose {
	background-color: #e6add8;
}